<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista 1 POO | Cadastro de Clientes</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<a th:href="@{/}">Home</a>
		<a th:href="@{/cadastrar-clientes}">Cadastrar</a>
		<a th:href="@{/listar-clientes}">Listar</a>
	</nav>
	<div class="container">
	
		<h1 class="text-center">Alterar Cadastro</h1>
		<form method="post" action="/alterar" th:object="${cliente}" >
		<input type="hidden" th.field="${cliente.id}">
		<div class="form-group">
			  <label for="id">ID</label>
			  <input readonly="readonly" class="form-control" id="nome" placeholder="Insira o nome" th:field="${cliente.id}">
			</div>
			<div class="form-group">
			  <label for="nome">Nome</label>
			  <input type="text" class="form-control" id="nome" placeholder="Insira o nome" th:field="${cliente.nome}">
			</div>
			<div class="form-group">
			  <label for="DDD">DDD</label>
			  <input type="text" class="form-control" id="ddd" placeholder="Insira o DDD" th:field="${cliente.ddd}">
			</div>
			<div class="form-group">
			  <label for="numero">Número</label>
			  <input type="text" class="form-control" id="numero" placeholder="Insira o número" th:field="${cliente.numero}">
			</div>
			<div class="form-group">
			  <label for="data_nascimento">Data de nascimento</label>
			  <input type="date" class="form-control" id="data_nascimento" placeholder="Insira a data de nascimento" th:field="${cliente.data_nascimento}">
			</div>
			<div class="form-group">
				<label for="genero">Gênero</label>
				<select class="form-control" id="genero" th:field="${cliente.genero}">
					<option value="M">Masculino</option>
					<option value="F">Feminino</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Atualizar</button>
			<button type="reset" class="btn btn-danger">Limpar</button>
		</form>
	</div>
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>