<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista 1 POO | Alterar Serviço</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="nav navbar-nav">
			        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cadastrar-clientes}">Cadastrar Clientes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar-clientes}">Listar Clientes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/produtos-e-servicos}">Produtos e Serviços</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1 class="text-center">Alterar Serviço</h1>
		<form method="post" action="/alterar-servico" th:object="${Servico}">
		<input type="hidden" th.field="${servico.id}">
			<div class="form-group">
			  <input type="hidden" class="form-control" id="id" name="id" placeholder="Insira o nome" th:field="${servico.id}">
			  <label for="nome">Nome</label>
			  <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome" maxlength="50" th:field="${servico.nome}">
			</div>
			<div class="form-group">
			  <label for="preco">Preço</label>
			  <input type="text" class="form-control" id="preco" name="preco" placeholder="Insira o preço" th:field="${servico.preco}">
			</div>
			<button type="submit" class="btn btn-primary">Atualizar</button>
		</form>
	</div>
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>