<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista 1 POO | Cadastro de Clientes</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="nav navbar-nav">
			        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cadastrar-clientes}">Cadastrar Clientes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar-clientes}">Listar Clientes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/produtos-e-servicos}">Produtos e Serviços</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
	
		<h1 class="text-center">Cadastro de Clientes</h1>
		<form method="post" action="/cadastrar-clientes" th:object="${Cliente}">
			<div class="form-group">
			  <label for="nome">Nome</label>
			  <input type="text" class="form-control" id="nome" placeholder="Insira o nome. Ex.: Bárbara dos Santos" maxlength="50" name="nome">
			</div>
			<div class="form-group">
			  <label for="DDD">DDD</label>
			  <input type="text" class="form-control" id="ddd" placeholder="Insira o DDD. Ex.: 11" maxlength="2" name="ddd">
			</div>
			<div class="form-group">
			  <label for="numero">Número</label>
			  <input type="text" class="form-control" id="numero" placeholder="Insira o número. Ex.: 987654321" maxlength="9" name="numero">
			</div>
			<div class="form-group">
			  <label for="data_nascimento">Data de nascimento</label>
			  <input type="date" class="form-control" id="data_nascimento" placeholder="Insira a data de nascimento" name="data_nascimento">
			</div>
			<div class="form-group">
				<label for="genero">Gênero</label>
				<select class="form-control" id="genero" name="genero">
					<option value="M">Masculino</option>
					<option value="F">Feminino</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Cadastrar</button>
			<button type="reset" class="btn btn-danger">Limpar</button>
		</form>
	</div>
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>