<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista 1 POO | Seja bem-vindo!</title>

	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<a th:href="@{/}">Home</a>
		<a th:href="@{/cadastrar-clientes}">Cadastrar</a>
		<a th:href="@{/listar-clientes}">Listar</a>
	</nav>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="centering text-center">
				<h1>Seja bem-vindo!</h1>
				<p>Gerencie seus clientes de forma eficaz e organizada!</p>
			</div>
		</div>
	</div>
</body>
</html>