<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista 1 POO | Listar Clientes</title>

	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<ul class="nav navbar-nav">
        	<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/cadastrar-clientes}">Cadastrar Clientes</a></li>
			<li><a th:href="@{/listar-clientes}">Listar Clientes</a></li>
			<li><a th:href="@{/produtos-e-servicos}">Produtos e Serviços</a></li>
		</ul>
	</nav>
	<div class="container">
		<h1 class="text-center">Lista de Clientes</h1>
		<form method="post" action="listar-clientes-filtro">
			<div class="form-group">
				<label for="ordenar">Ordenar por:</label>
				<select class="form-control" id="ordem" name="ordem">
					<option value="p">Padrão</option>
					<option value="a">Ordem alfabética</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" id="genero" name="genero">
					<option value="T">Todos</option>
					<option value="M">Masculino</option>
					<option value="F">Feminino</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Filtrar</button>
		</form>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Telefone</th>
		      <th scope="col">Gênero</th>
		      <th scope="col">Nascimento</th>
		      <th scope="col">Ações</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="cliente, telefones:${clientes}">
		      <th scope="row"><span th:text="${cliente.id}"></span></th>
		      <td><span th:text="${cliente.nome}"></span></td>
		      <td><span th:text="${cliente.telefones[0].ddd}"></span> <span th:text="${cliente.telefones[0].numero}"></span></td>
		      <td><span th:text="${cliente.genero}"></span></td>
		      <td><span th:text="${cliente.data_nascimento}"></span></td>
		      <td>
		      <a class="btn btn-primary" th:href="@{alterar/{id}(id=${cliente.id})}">
		      	<i class="fas fa-edit"></i>Editar
		      </a>
		      <a class="btn btn-danger" th:href="@{excluir/{id}(id=${cliente.id})}">
		      	<i class="fas fa-times"></i>Excluir
		      </a>
		      </td>

		    </tr>
		  </tbody>
		</table>
	</div>
</body>
</html>